<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Third Line</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<style type="text/css">
  button{
    margin: auto;
  }
</style>
<mat-drawer-container style="height: calc(100vh - 64px)">
  <mat-drawer #drawer class="example-sidenav" mode="side" opened style="padding: 0;width: 410px;"> 
      <div style="width: 90%;margin: auto;">
              <br><b>Image</b>
              <div style="height: 10px"></div>
              <table style="width: 100%">
                <tr>
                  <td style="width: 200px">
                    
                    <button (click)="openDialog(5)" mat-raised-button>
                      <img src="assets/design/{{design}}.png" style="width: 200px;">
                    </button>
                  </td>
                  <td>
                    <table style="width: 100%;">
                      <tr>
                        <td>
                          <button (click)="openDialogDesign()" mat-raised-button >
                           <mat-icon>add_photo_alternate</mat-icon> See images
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <button (click)="openDialogBg()" mat-raised-button>
                           <mat-icon>insert_photo</mat-icon> Background
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <button (click)="changeselect('chi1')" mat-raised-button>
                           <mat-icon>cloud_upload</mat-icon> upload
                          </button>
                        </td>
                      </tr>
                    </table>

                  </td>
                </tr>
              </table>

              <div style="height: 10px"></div>
              <div style="height: 30px"></div>

            <b>Canvas position X </b>&nbsp;<input type="number" maxlength="3" max="100" min="0" [(ngModel)]="updown">
            <mat-slider
                (mouseup)="sliderEvent()"
                  style="width: 100%"
                  [(ngModel)]="updown">
              </mat-slider>
              
              <!--<mat-form-field>
                <input matInput  placeholder="Image position X value" [(ngModel)]="updown" min="0" max="100" type="number" (keydown)="sliderEvent()" maxlength="3">
                <mat-hint>Press Enter</mat-hint>
              </mat-form-field>-->
          <br>
              <div style="height: 30px"></div>
            <b>Image Size </b>&nbsp;<input type="number" maxlength="3" max="250" min="0" [(ngModel)]="isize">
            <mat-slider
                (mouseup)="sliderEvent3()"
                  style="width: 100%"
                  [(ngModel)]="isize">
              </mat-slider>
              <br>
              <div style="height: 30px"></div>

              <mat-slide-toggle [(ngModel)]="textadd">Add Text</mat-slide-toggle>
              <div *ngIf="textadd===true">
              <div style="height: 10px"></div>
              <mat-form-field>
                <input matInput  placeholder="Text" [(ngModel)]="text" type="text">
              </mat-form-field>

              <br><b>Text Size</b>
              <mat-slider

                (mouseup)="resettext()"
                  style="width: 100%"
                  [(ngModel)]="textsize">
              </mat-slider>
              <br><b>Text Color</b>
              <div style="height: 10px"></div>
              <input [(colorPicker)]="textcolor" [style.background]="textcolor" style="width: 50px" />
              <div style="height: 10px"></div>
              <br><b>Text Stroke</b>
              <div style="height: 10px"></div>
              <input [(colorPicker)]="textstroke" [style.background]="textstroke" style="width: 50px" />

              <div style="height: 10px"></div>
              <br><b>Text Style</b>
              <div style="height: 10px"></div>
              <mat-form-field>
                <mat-label>Style</mat-label>
                <mat-select [(ngModel)]="textstyle">
                  <mat-option value="normal">
                    Normal
                  </mat-option>
                  <mat-option value="italic">
                    Italic
                  </mat-option>
                  <mat-option value="oblique">
                    Oblique
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <br><b>Text Weight</b>
              <div style="height: 10px"></div>
              <mat-form-field>
                <mat-label>Weight</mat-label>
                <mat-select [(ngModel)]="textweight">
                  <mat-option value="normal">
                    Normal
                  </mat-option>
                  <mat-option value="bold">
                    bold
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <br><b>Text Family</b>
              <div style="height: 10px"></div>
              <mat-form-field>
                <mat-label>Family</mat-label>
                <mat-select [(ngModel)]="textfamily">
                  <mat-option value="'Times New Roman', Times, serif">
                    <span style="font-family: 'Times New Roman', Times, serif">Times New Roman', Times, serif</span>
                  </mat-option>
                  <mat-option value="Georgia, serif">
                    <span style="font-family: Georgia, serif">Georgia, serif</span>
                  </mat-option>
                  <mat-option value='"Palatino Linotype", "Book Antiqua", Palatino, serif'>
                    <span style='font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif'>"Palatino Linotype", "Book Antiqua", Palatino, serif</span>
                  </mat-option>
                  <mat-option value='"Arial Black", Gadget, sans-serif'>
                    <span style='font-family: "Arial Black", Gadget, sans-serif'>"Arial Black", Gadget, sans-serif</span>
                  </mat-option>
                  <mat-option value='"Comic Sans MS", cursive, sans-serif'>
                    <span style='font-family: "Comic Sans MS", cursive, sans-serif'>"Comic Sans MS", cursive, sans-serif</span>
                  </mat-option>
                  <mat-option value='Impact, Charcoal, sans-serif'>
                    <span style='font-family: Impact, Charcoal, sans-serif'>Impact, Charcoal, sans-serif</span>
                  </mat-option>
                  <mat-option value='"Lucida Sans Unicode", "Lucida Grande", sans-serif'>
                    <span style='font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif'>"Lucida Sans Unicode", "Lucida Grande", sans-serif</span>
                  </mat-option>
                  <mat-option value='Tahoma, Geneva, sans-serif'>
                    <span style='font-family: Tahoma, Geneva, sans-serif'>Tahoma, Geneva, sans-serif</span>
                  </mat-option>
                  <mat-option value='"Trebuchet MS", Helvetica, sans-serif'>
                    <span style='font-family: "Trebuchet MS", Helvetica, sans-serif'>"Trebuchet MS", Helvetica, sans-serif</span>
                  </mat-option>
                  <mat-option value='Verdana, Geneva, sans-serif'>
                    <span style='font-family: Verdana, Geneva, sans-serif'>Verdana, Geneva, sans-serif</span>
                  </mat-option>
                  <mat-option value='"Courier New", Courier, monospace'>
                    <span style='font-family: "Courier New", Courier, monospace'>"Courier New", Courier, monospace</span>
                  </mat-option>
                  <mat-option value='"Lucida Console", Monaco, monospace'>
                    <span style='font-family: "Lucida Console", Monaco, monospace'>"Lucida Console", Monaco, monospace</span>
                  </mat-option>
                </mat-select>
              </mat-form-field>
              </div>
              <br><br><br>
    

    </div>
  </mat-drawer>
<style type="text/css">
  a {
    text-decoration: none;
    color: #3f51b5;
  }
</style>
  <div>

    <div style="height: calc(100vh - 150px);margin-left: 20px;width: 650px; background-image: url(assets/tshirtsmall.jpg);background-repeat: no-repeat; background-size: 650px">
      
  <div>
      <div class="example-boundary"  style="position: absolute;overflow: hidden;"
      [ngStyle]="{'margin-top':margintop+'px','margin-left':'195px','position':'absolute'}"
      >

      <p  *ngIf="textadd===true" cdkDrag  cdkDragBoundary=".example-boundary" [cdkDragFreeDragPosition]="textdragPosition" style="display:inline-block;z-index: 2;position: absolute;font-size: 40px;cursor: all-scroll;"
      [ngStyle]="{'display':'inline-block','position':'absolute','z-index':'2','font-size':textsize+'px','margin':'0','color': textcolor,'-webkit-text-stroke-color':textstroke,'-webkit-text-stroke-width':'1px','font-style':textstyle,'font-weight':textweight,'font-family':textfamily}">
        {{text}}
      </p>

      <img src="assets/design/{{design}}.png" alt="No Image"  #siii
      [ngStyle]="{'width': size+'px','position':'absolute','z-index':'1'}"
      cdkDrag [cdkDragFreeDragPosition]="dragPosition" cdkDragBoundary=".example-boundary" (cdkDragEnded)="onDragEnded($event)" style='cursor: all-scroll;'>

      <img src="assets/background/{{bg}}.png" alt="No Image" style="width: 254px" *ngIf="bg>1">


      </div>
  </div>
    </div>
    <div style="padding: 10px">
      <b>*NOTE: </b>
      <ul>
        <li><b>White backround/colors</b> will be removed from the image.</li>
        <li>Printed on <b>white t-shirt only</b>.
          <ul>
            <li><b><a href="javascript:void(0)" (click)="openDialog(3)">Dri-fit</a> t-shirts</b> for <a href="javascript:void(0)" (click)="openDialog(1)">S to XXL</a></li>
            <li><b><a href="javascript:void(0)" (click)="openDialog(4)">Cotton</a> t-shirts </b> for <a href="javascript:void(0)" (click)="openDialog(2)">S to XXL</a></li>
          </ul>
        </li>
        <li>The <b>Canvas</b> size is 210 × 297 millimeters or 8.27 × 11.69 inches.
          <ul>
            <li>Disregarding the size of the t-shirt.</li>
          </ul>
        </li>
        <li><b>1 image and 1 text</b> is only allowed in the </li>
          <ul>
            <li>Or <b>pm me in fb(<a href="https://www.facebook.com/coaxfiber" target="_blank">facebook.com/coaxfiber</a>)</b> for your idea. </li>
          </ul>
      </ul>
    </div>
  </div>




</mat-drawer-container>

